/* GLOBAL */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #eeeeee;
    overflow: auto;
    /* max-width: 90%; */
}

/* HEADER */
header {
    background-color: rgb(101, 102, 102);
    width: 100%;
    height: 110px;
    margin: auto;
    border-bottom: 5px solid turquoise;
}

header #branding {
    float: left;
    padding: 0 0 0 60px;
    font-size:22px;
    color: rgb(255, 255, 255);
}

header li {
    display: inline;
    text-transform: uppercase;
    text-decoration: none;
}

header ul a{
    margin: 0;
    padding: 15px 20px 15px 20px; 
    text-decoration: none;
    color: turquoise;
}

header nav {
    float: right;
    margin-top: 30px;
}

header a:hover{
    color: hsl(357, 98%, 44%);
}

.current {
    color: #eeeeee;
    padding-right: 20px;
}

/* SHOWCASE */
#showcase{
    text-align: center;
    min-height: 200px;
    background-image: url("../imgs/bookshelf.jpg");
    background-size: 60%;
    background-repeat: repeat-x;
}
/*
#showcase h2{
    font-weight: 400;
    padding: 20px 0 0 0;
    color: rgb(101, 102, 102);
}
*/
#showcase p{
    color: rgb(77, 0, 0);
    font-size: 22px;
    background-color: aliceblue;
    padding: 10px 0 10px 0;
    border-bottom: 5px solid turquoise;
    border-top: 5px solid turquoise;
    border-radius: 2px;
}

/* NEWSLETTER */

#newsletter form {
    float: right;
    margin-right: 600px;
}


#newsletter button {
    padding: 5px 5px 5px 5px;
}

#newsletter input {
    height: 23px;
}

#newsletter h3 {
    margin: 0 0 0 600px;
    float: left;
}

/* TESTEMONIALS  */
.testemonials {
    border-top: 5px solid turquoise;
    padding-top: 50px;
    margin-top: 100px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 24px;
}

/* TEST_BOXES */
#test_boxes {
    margin: 100px 0 0 15%;
    display: grid;
    width: 100%;
    height: 300px;
    grid-template-areas: ".Dave .Lucy .Steve";
    justify-items: center;
}

#test_boxes img {
    width: 220px;
    height: 150px;
    border: 5px solid rgb(63, 68, 68);
    border-radius: 5px;
}

#test_boxes h4 {
    text-align: center;
}

#text_boxes p {
    text-align: center;
}

.Dave p{
    text-align: center;
}

.Lucy img,
    .Azman img {
    margin: 40px 0 0 40px;
}

/* DEAL OF THE DAY */

#deal {
    text-align: center;
}

.dealbanner {
    width: 30rem;
    height: 20rem;
}

.dealbook{
    color: turquoise;
}

/* PRODUCTS GRID */

.products {
    display: grid;
    grid-template-areas: "grid-item grid-item grid-item";
    grid-gap: 5rem;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.products img {
    width: 12rem;
    height: 18rem;
    margin: 5rem 0 1rem 0;

}

.products a{
    text-decoration: none;
    color: black;
}

/* About */

img.kartar {
    width: 20%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto 0 auto;
    border: solid 3px turquoise;
}

p.about {
    text-align: center;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 48px;
    margin: 1em 0 1em 0;
}

p.about_text {
    margin: 3em auto 1em auto;
    text-align: center;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.insta {
    height: auto;
    width: 8%;
    margin: 0 0 0 90%;
}

.linkedin {
    height: auto;
    width: 8%;
    margin: 0 0 0 3rem;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

* {
    box-sizing: border-box;
}

